[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
dash-table = "*"
beautifulsoup4 = "*"
pymongo = "*"
requests = "*"
plotly = "*"
pandas = "*"
selenium = "*"
lxml = "*"
scrapy = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.13"
